<!-- views/test.ejs -->
<!doctype html>
<html>
<head>
	<title>Teste</title>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Página Teste </h1>
	</div>

</div>
</body>
</html>
